h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
body {
    background-color: coral;
    text-align: center;
}
